:root {
  --usual-map: url(../../assets/images/map.svg);
  --usual-durk-map: url(../../assets/images/durk-map.svg);
  --mini-map: url(../../assets/images/mini-map-map.svg);
  --mini-durk-map: url(../../assets/images/mini-durk-map-map.svg);
  --tablet-map: url(../../assets/images/table-map-map.svg);
  --tablet-durk-map: url(../../assets/images/tablet-durk-map-map.svg);
  --mobil-map: url(../../assets/images/mobil-map.svg);
  --mobil-durk-map: url(../../assets/images/mobil-durk-map.svg);
  --bg-map-card: var(--base-light-color);
  --fg-map-card: var(--base-durk-color);
  --bg-usual-map-screen: var(--usual-map);
  --bg-mini-map-screen: var(--mini-map);
  --bg-tablet-map-screen: var(--tablet-map);
  --bg-mobil-map-screen: var(--mobil-map);
}

:root[theme="durk"] {
  --bg-map-card: var(--base-durk-color);
  --fg-map-card: var(--base-light-color);
  --bg-usual-map-screen: var(--usual-durk-map);
  --bg-mini-map-screen: var(--mini-durk-map);
  --bg-tablet-map-screen: var(--tablet-durk-map);
  --bg-mobil-map-screen: var(--mobil-durk-map);
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

button, input[type="submit"] {
  cursor: pointer;
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*UI components*/

/* Social links */
.social {
  height: 107px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social_line {
  width: 125px;
  height: 20px;
  flex-direction: row;
}

.social__link {
  display: block;
  width: 20px;
  background-repeat: no-repeat;
  transition: .5s;
}

.social__link:hover {
  transform: scale(1.2);
}

.social__link_insta {
  height: 20px;
  background-image: url(../../assets/images/insta.svg);
}

.social__link_twitter {
  height: 17px;
  background-image: url(../../assets/images/twitter.svg);
}

.social__link_youtube {
  height: 14px;
  background-image: url(../../assets/images/youtube.svg);
}

.social__link_vk {
  height: 12px;
  background-image: url(../../assets/images/vk.svg);
}

/*Slider*/
.slider {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}

.slider__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1919px) {

  .slider__list {
    height: 100%;
  }

}

.slider__item {
  transition: transform .5s;
}

.slider__item_active {
  position: relative;
  width: 108px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--selected-gradient);
  transform: scale(1.4);
}

@media screen and (max-width: 639px) {

  .slider__item_active {
    position: relative;
    min-width: 85px;
    height: 85px;
    transform: none;
  }

}

.slider__item_active img {
  position: relative;
  width: 108px;
  height: 108px;
  transform: scale(.9);
}

@media screen and (max-width: 639px) {

  .slider__item_active img {
    width: 72px;
    height: 72px;
    transform: none;
  }

}

.slider__item_active::before {
  content: '';
  position: absolute;
  top: 3;
  left: 3;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  background-color: var(--bg-second);
}

@media screen and (max-width: 639px) {

  .slider__item_active::before {
    width: 80px;
    height: 80px;
  }

}

.slider__item:hover {
  cursor: pointer;
}

.slider__item_active:hover {
  cursor: alias;
}

/*Slider arrow*/
.slider-arrow {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 27px);
  width: 30px;
  height: 50px;
  transition: .5s;
}

.slider-arrow_left {
  left: -58px;
}

@media screen and (max-width: 1199px) {

  .slider-arrow_left {
    left: -50px;
  }

}

@media screen and (max-width: 639px) {

  .slider-arrow_left {
    left: -25px;
  }

}

.slider-arrow:hover {
  transform: scale(1.2);
}

.slider-arrow_right {
  right: -58px;
  transform: rotate(180deg);
}

@media screen and (max-width: 1199px) {

  .slider-arrow_right {
    right: -40px;
  }

}

@media screen and (max-width: 639px) {

  .slider-arrow_right {
    right: -25px;
  }

}

.slider-arrow_right:hover {
  transform: rotate(180deg) scale(1.2);
}

.slider-arrow::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  width: 25px;
  height: 5px;
  transform: rotate(45deg);
  background-color: var(--bg-arrow);
}

.slider-arrow::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 25px;
  height: 5px;
  transform: rotate(-45deg);
  background-color: var(--bg-arrow);
}

/*Progress*/
.progress {
  width: 245px;
  height: 49px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fraction {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: var(--fg-fraction);
}

.fraction__scope {
  font-size: 14px;
  color: var(--bg-range-color);
}

.range:hover {
  transform: scale(1.1);
  transition: .5s;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 3px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  width: 100%;
  height: 5px;
  background: var(--bg-range-color);
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  cursor: pointer;
  box-shadow: var(--shadow-range);
  border: none;
  height: 10px;
  width: 30px;
  background: var(--bg-thumb);
  -webkit-appearance: none;
  margin-top: -3px;
}

.progress_bunner input[type=range]::-webkit-slider-thumb {
  background: var(--base-light-color);
}

.progress_how-it-works input[type=range]::-webkit-slider-thumb {
  width: 62px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--bg-range-color);
}

input[type=range]::-moz-range-track {
  cursor: pointer;
  width: 100%;
  height: 5px;
  box-shadow: var(--shadow-range);
  background: var(--bg-range-color);
  border: none;
}

input[type=range]::-moz-range-thumb {
  cursor: pointer;
  box-shadow: var(--shadow-range);
  border: none;
  height: 10px;
  width: 30px;
  background: var(--base-light-color);
}

/*Map-screen*/
.map-screen {
  position: relative;
  width: 1200px;
  height: 498px;
  background-image: var(--bg-usual-map-screen);
}

@media screen and (max-width: 1919px) {

  .map-screen {
    position: relative;
    width: 800px;
    height: 388px;
    background-image: var(--bg-mini-map-screen);
  }

}

@media screen and (max-width: 1199px) {

  .map-screen {
    position: relative;
    width: 598px;
    height: 289px;
    background-image: var(--bg-tablet-map-screen);
  }

}

@media screen and (max-width: 639px) {

  .map-screen {
    position: relative;
    width: 299px;
    height: 145px;
    background-image: var(--bg-mobil-map-screen);
  }

}

.mark {
  position: absolute;
  width: 66px;
  height: 93px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  box-sizing: border-box;
  background-image: url(../../assets/images/mark.svg);
  transition: .5s;
}

@media screen and (max-width: 1919px) {

  .mark {
    width: 58px;
    height: 83px;
    background-size: 58px 83px;
    padding-top: 13px;
  }

}

@media screen and (max-width: 1199px) {

  .mark {
    width: 66px;
    height: 93px;
    background-size: 66px 93px;
    padding-top: 15px;
  }

}

@media screen and (max-width: 639px) {

  .mark {
    width: 34px;
    height: 48px;
    background-size: 34px 48px;
    padding-top: 6px;
  }

}

.mark:hover {
  cursor: pointer;
}

.mark_active {
  background-image: url(../../assets/images/active-makr.svg);
}

.mark_eagle {
  top: 82px;
  left: 132px;
}

@media screen and (max-width: 1919px) {

  .mark_eagle {
    top: 45px;
    left: 76px;
  }

}

@media screen and (max-width: 1199px) {

  .mark_eagle {
    top: 7px;
    left: 53px;
  }

}

@media screen and (max-width: 639px) {

  .mark_eagle {
    top: 1px;
    left: 24px;
  }

}

.mark_crocodile {
  top: 103px;
  left: 244px;
}

@media screen and (max-width: 1919px) {

  .mark_crocodile {
    top: 59px;
    left: 156px;
  }

}

@media screen and (max-width: 1199px) {

  .mark_crocodile {
    top: 16px;
    left: 102px;
  }

}

@media screen and (max-width: 639px) {

  .mark_crocodile {
    top: 8px;
    left: 51px;
  }

}

.mark_monkey {
  top: 188px;
  left: 572px;
}

@media screen and (max-width: 1919px) {

  .mark_monkey {
    top: 136px;
    left: 374px;
  }

}

@media screen and (max-width: 1199px) {

  .mark_monkey {
    top: 70px;
    left: 267px;
  }

}

@media screen and (max-width: 639px) {

  .mark_monkey {
    top: 35px;
    left: 133px;
  }

}

.mark_panda {
  top: 100px;
  right: 230px;
}

@media screen and (max-width: 1919px) {

  .mark_panda {
    top: 59px;
    right: 157px;
  }

}

@media screen and (max-width: 1199px) {

  .mark_panda {
    top: 12px;
    right: 105px;
  }

}

@media screen and (max-width: 639px) {

  .mark_panda {
    top: 7px;
    right: 50px;
  }

}

.mark__img {
  width: 43px;
  height: 43px;
}

@media screen and (max-width: 1919px) {

  .mark__img {
    width: 35px;
    height: 35px;
  }

}

@media screen and (max-width: 1199px) {

  .mark__img {
    width: 43px;
    height: 43px;
  }

}

@media screen and (max-width: 639px) {

  .mark__img {
    width: 21px;
    height: 21px;
  }

}

/* Watch button */
.watch-btn {
  cursor: pointer;
  width: 245px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--base-light-color);
  background: var(--main-gradient);
  border-radius: 2px;
  text-decoration: none;
  box-sizing: border-box;
  transition: .5s;
}

.watch-btn_tansparent {
  width: 113px;
  height: 24px;
  background: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--gradient-durk-color);
}

.watch-btn_tansparent > .watch-btn__circle {
  width: 22px;
  height: 22px;
  margin-right: 2px;
  border-color: var(--gradient-durk-color);
}

.watch-btn_tansparent .watch-btn__arrow {
  width: 8px;
  height: 11px;
  background-color: var(--gradient-durk-color);
}

.watch-btn:hover {
  transform: scale(1.1);
}

.watch-btn__circle {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  border-radius: 50%;
  border: 1px solid var(--base-light-color);
  box-sizing: border-box;
}

.watch-btn__arrow {
  width: 10px;
  height: 13px;
  background-color: var(--base-light-color);
  clip-path: polygon(20% 10%, 100% 50%, 20% 90%, 20% 10%);
}

/*Title*/
.card-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  margin: 17px 0;
  color: var(--fg-title);
}

/*Text*/
.text {
  font-size: 14px;
  line-height: 16px;
  color: var(--fg-text);
  margin: 0;
}

/*Nav btn*/
.nav-btn {
  position: relative;
  top: 0;
  left: 0;
  width: 40px;
  height: 21px;
  display: none;
  align-items: center;
}

@media screen and (max-width: 640px) {

  .nav-btn {
    display: flex;
  }

}

.nav-btn__line {
  position: relative;
  top: 0;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: var(--fg-header);
}

.nav-btn__line::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: var(--fg-header);
}

.nav-btn__line::after {
  content: '';
  position: absolute;
  top: 9px;
  right: 0;
  width: 33px;
  height: 3px;
  background-color: var(--fg-header);
}

/*Container*/
.container {
  width: 1620px;
}

@media screen and (max-width: 1919px) {

  .container {
    width: 900px;
    margin-left: 0;
  }

}

@media screen and (max-width: 1199px) {

  .container {
    width: 600px;
  }

}

@media screen and (max-width: 639px) {

  .container {
    width: 300px;
  }

}

.small-container {
  width: 1200px;
}

@media screen and (max-width: 1919px) {

  .small-container {
    width: 900px;
  }

}

@media screen and (max-width: 1199px) {

  .small-container {
    width: 600px;
  }

}

@media screen and (max-width: 639px) {

  .small-container {
    width: 300px;
  }

}

.small-container_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Components */

/*Map*/
@media screen and (max-width: 640px) {

  .main {
    margin-top: 94px;
  }

}

.map {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: var(--bg-second);
}

@media screen and (max-width: 1919px) {

  .map {
    padding-bottom: 100px;
  }

}

@media screen and (max-width: 1199px) {

  .map {
    padding-bottom: 79px;
  }

}

@media screen and (max-width: 639px) {

  .map {
    padding-top: 34px;
    padding-bottom: 60px;
  }

}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__title {
  margin-bottom: 20px;
}

@media screen and (max-width: 639px) {

  .description__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 9px;
  }

}

.description__text {
  width: 790px;
  margin-bottom: 79px;
}

@media screen and (max-width: 1919px) {

  .description__text {
    margin-bottom: 37px;
  }

}

@media screen and (max-width: 1199px) {

  .description__text {
    width: 600px;
    margin-bottom: 37px;
  }

}

@media screen and (max-width: 639px) {

  .description__text {
    width: 280px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 42px;
  }

}

.map__slider {
  width: 1075px;
  margin-bottom: 53px;
}

@media screen and (max-width: 1919px) {

  .map__slider {
    width: 660px;
    height: 157px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .map__slider .slider__item {
    margin-right: 29px;
  }

}

@media screen and (max-width: 1199px) {

  .map__slider {
    width: 523px;
    height: 157px;
    margin-bottom: 23px;
  }

  .map__slider .slider__item {
    margin-right: 11px;
  }

}

@media screen and (max-width: 639px) {

  .map__slider {
    width: 225px;
    height: 85px;
    margin-bottom: 19px;
  }

  .map__slider .slider__item {
    margin-right: 10px;
  }

  .animal-icon {
    width: 60px;
    height: 60px;
  }

}

.map__progress {
  margin-left: -35px;
  margin-bottom: 78px;
}

@media screen and (max-width: 1919px) {

  .map__progress {
    margin-left: 0;
    margin-bottom: 50px;
  }

}

@media screen and (max-width: 1199px) {

  .map__progress {
    margin-bottom: 35px;
  }

}

@media screen and (max-width: 639px) {

  .map__progress {
    margin-left: 25px;
  }

}

.map__map-screen {
  margin-bottom: 47px;
}

@media screen and (max-width: 1919px) {

  .map__map-screen {
    margin-bottom: 34px;
  }

}

@media screen and (max-width: 1199px) {

  .map__map-screen {
    margin-bottom: 36px;
  }

}

@media screen and (max-width: 639px) {

  .map__map-screen {
    margin-bottom: 35px;
  }

}
